.example {
    position: relative;
}

.example h1 {
    position: absolute;
    color: #fa86ad;
    font-weight: bold;
    font-size: 3em;
    top: 25%;
    left: 30%;
}

.example img {
    position: relative;
    width: 500px;
    top: 25%;
    left: 25%;
}

.sample2 img {
    width: 500px;
}

.sample3 img {
    width: 100px;
}

.money1 {
    color: red;
    font-size:20px;
}

.sample3 {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px dotted #333333;
    width: 380px;
    height: 380px;
}

.sample3 p {
    text-align: center;
}

